{
  "dwi": "test/input/dwi/dwi.nii.gz",
  "bvals": "test/input/dwi/dwi.bvals",
  "bvecs": "test/input/dwi/dwi.bvecs",
  "dwi_json": "test/input/dwi/dwi.json",
  "rdwi": "test/input/rdwi/dwi.nii.gz",
  "rbvals": "test/input/rdwi/dwi.bvals",
  "rbvecs": "test/input/rdwi/dwi.bvecs",
  "rdwi_json": "test/input/rdwi/dwi.json",
  "pe_dir": "auto",
  "rpe_dir": "auto",
  "readout_time": "auto",
  "rreadout_time": "auto",
  "subject": "sub-01",
  "session": "ses-01",
  "split_subject_session": false,
  "session_prefixes": "ses,MR,visit,tp,V",
  "denoise": true,
  "degibbs": true,
  "b0_threshold": 50,
  "b0_per_pedir": 2,
  "reduce_b0_above": 8,
  "topup_config": "auto",
  "topup_extra": "--estmov=1,1,0,0,0,0,0,0,0 --minmet=0,0,1,1,1,1,1,1,1",
  "bet_topup_f": 0.4,
  "eddy_niter": 6,
  "eddy_fwhm": "10,6,0,0,0,0",
  "eddy_repol": true,
  "eddy_ol_type": "both",
  "eddy_mporder": 6,
  "eddy_s2v_niter": 6,
  "eddy_data_is_shelled": true,
  "eddy_cnr_maps": true,
  "eddy_residuals": false,
  "eddy_slm": "none",
  "eddy_extra": "",
  "eddy_binary": "",
  "require_gpu": false,
  "eddy_qc": true,
  "biascorrect": "ants",
  "bet_final_f": 0.3,
  "dtifit_shell": "lowest",
  "shell_tolerance": 100,
  "dtifit_wls": false,
  "dtifit_sse": false,
  "atlas_registration": true,
  "ants_transform": "s",
  "atlas_interpolation": "MultiLabel",
  "write_roi_masks": false,
  "roi_metrics": [
    "FA",
    "MD",
    "AD",
    "RD"
  ],
  "roi_restrict_to_mask": true,
  "roi_exclude_zeros": false,
  "nthreads": 0
}
